In [4]:
import pandas as pd

In [5]:
throttle_data  = pd.read_csv('live1.csv')
throttle_data

,ENGINE_RUN_TINE (),ENGINE_RPM (),VEHICLE_SPEED (),THROTTLE (),ENGINE_LOAD (),COOLANT_TEMPERATURE (),LONG_TERM_FUEL_TRIM_BANK_1 (),SHORT_TERM_FUEL_TRIM_BANK_1 (),INTAKE_MANIFOLD_PRESSURE (),FUEL_TANK (),...,TIMING_ADVANCE (),CATALYST_TEMPERATURE_BANK1_SENSOR1 (),CATALYST_TEMPERATURE_BANK1_SENSOR2 (),CONTROL_MODULE_VOLTAGE (),COMMANDED_EVAPORATIVE_PURGE (),TIME_RUN_WITH_MIL_ON (),TIME_SINCE_TROUBLE_CODES_CLEARED (),DISTANCE_TRAVELED_WITH_MIL_ON (),WARM_UPS_SINCE_CODES_CLEARED (),Throttle_Response_Problem
0,0,0.0,0,17.647058,0.000000,25,-2.34375,0.00,101,36.078430,...,5,434.700012,295.100006,12.324,0.0,0,7835,0,255,NaN
1,0,0.0,0,17.647058,0.000000,25,-2.34375,0.00,101,36.078430,...,5,434.700012,295.100006,12.343,0.0,0,7835,0,255,NaN
2,0,0.0,0,17.647058,0.000000,25,-2.34375,0.00,101,36.078430,...,5,434.700012,295.100006,12.343,0.0,0,7835,0,255,NaN
3,0,0.0,0,18.039215,0.000000,25,-2.34375,0.00,101,36.078430,...,5,434.700012,295.100006,12.343,0.0,0,7835,0,255,NaN
4,0,0.0,0,18.039215,0.000000,25,-2.34375,0.00,101,36.078430,...,5,434.700012,295.100006,12.343,0.0,0,7835,0,255,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,1891,974.0,0,18.823530,33.725491,88,-0.78125,-6.25,36,31.764706,...,0,486.799988,352.399994,13.613,0.0,0,7866,0,255,NaN
3849,1891,974.0,0,18.823530,33.725491,88,-0.78125,-6.25,36,31.764706,...,0,486.799988,352.299988,13.593,0.0,0,7866,0,255,NaN
3850,1891,974.0,0,18.823530,33.725491,88,-0.78125,-6.25,36,31.764706,...,0,486.799988,352.299988,13.593,0.0,0,7866,0,255,NaN
3851,1893,929.5,0,16.470589,32.941177,88,-0.78125,-6.25,33,31.764706,...,-4,486.799988,352.299988,13.593,0.0,0,7866,0,255,NaN
3852,1893,929.5,0,16.470589,32.941177,88,-0.78125,-6.25,33,30.196079,...,-4,486.799988,352.299988,13.593,0.0,0,7866,0,255,NaN

In [6]:
dropped_dataset = throttle_data.drop(columns=['LONG_TERM_FUEL_TRIM_BANK_1 ()','SHORT_TERM_FUEL_TRIM_BANK_1 ()','INTAKE_MANIFOLD_PRESSURE ()','FUEL_TANK ()','ABSOLUTE_THROTTLE_B ()','PEDAL_D ()','PEDAL_E ()','COMMANDED_THROTTLE_ACTUATOR ()','ABSOLUTE_BAROMETRIC_PRESSURE ()','RELATIVE_THROTTLE_POSITION ()','TIMING_ADVANCE ()','CATALYST_TEMPERATURE_BANK1_SENSOR1 ()','CATALYST_TEMPERATURE_BANK1_SENSOR2 ()','CONTROL_MODULE_VOLTAGE ()','COMMANDED_EVAPORATIVE_PURGE ()','TIME_RUN_WITH_MIL_ON ()','TIME_SINCE_TROUBLE_CODES_CLEARED ()','DISTANCE_TRAVELED_WITH_MIL_ON ()','WARM_UPS_SINCE_CODES_CLEARED ()'])
dropped_dataset

,ENGINE_RUN_TINE (),ENGINE_RPM (),VEHICLE_SPEED (),THROTTLE (),ENGINE_LOAD (),COOLANT_TEMPERATURE (),FUEL_AIR_COMMANDED_EQUIV_RATIO (),INTAKE_AIR_TEMP (),Throttle_Response_Problem
0,0,0.0,0,17.647058,0.000000,25,0,25,NaN
1,0,0.0,0,17.647058,0.000000,25,0,25,NaN
2,0,0.0,0,17.647058,0.000000,25,0,25,NaN
3,0,0.0,0,18.039215,0.000000,25,0,25,NaN
4,0,0.0,0,18.039215,0.000000,25,0,25,NaN
...,...,...,...,...,...,...,...,...,...
3848,1891,974.0,0,18.823530,33.725491,88,0,55,NaN
3849,1891,974.0,0,18.823530,33.725491,88,0,55,NaN
3850,1891,974.0,0,18.823530,33.725491,88,0,55,NaN
3851,1893,929.5,0,16.470589,32.941177,88,0,55,NaN
3852,1893,929.5,0,16.470589,32.941177,88,0,55,NaN

In [8]:
throttle_threshold = 20
dropped_dataset['Throttle_Response_Problem'].fillna((dropped_dataset['THROTTLE ()']> throttle_threshold).astype(int),inplace=True)
dropped_dataset.to_csv('updated_live1.csv',index=False)