In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from joblib import dump
import pickle
import os
os.chdir("D:\pandas")

In [22]:
dataFrame = pd.read_csv("auto-mpg.csv") #importing dataset
unwanted_columns = ["horsepower", "model year", "origin","car name"]
dataFrame = dataFrame.drop(columns = unwanted_columns)
dataFrame.head()

    mpg  cylinders  displacement  weight  acceleration
0  18.0          8         307.0    3504          12.0
1  15.0          8         350.0    3693          11.5
2  18.0          8         318.0    3436          11.0
3  16.0          8         304.0    3433          12.0
4  17.0          8         302.0    3449          10.5

In [23]:
dataFrame.shape

(398, 5)

In [24]:
X = dataFrame.drop(columns = "mpg")
X.head()

   cylinders  displacement  weight  acceleration
0          8         307.0    3504          12.0
1          8         350.0    3693          11.5
2          8         318.0    3436          11.0
3          8         304.0    3433          12.0
4          8         302.0    3449          10.5

In [25]:
Y = dataFrame["mpg"]
Y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [26]:
# model = DecisionTreeRegressor()
# model.fit(X,Y)
# predicted_consumption = model.predict([[8, 300, 3400, 11]])
# predicted_consumption

In [27]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Your existing code for data preparation

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(X_train, Y_train)

predicted_consumption = model.predict([[8, 300, 3400, 11]])
predicted_consumption

E:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([16.958])

# Dumping a model

In [28]:

# Save the model as a pickle file
dump(model, 'FuelEfficiencyModel.pkl')

['FuelEfficiencyModel.pkl']